extends layout.pug

block content

  .container

    h1 Contact Us

    table
      tbody
        tr
          td MeetUp
          td
            a(href='https://www.meetup.com/codehub-bristol/' target='_blank') https://www.meetup.com/codehub-bristol/

        tr
          td Gitter
          td
            a(href='https://gitter.im/CodeHubOrg/discussions' target='_blank') CodeHubOrg/discussions

        tr
          td Twitter
          td
            a(href='https://twitter.com/codehubbs' target='_blank') @CodeHubBs

        tr
          td Email
          td
            a(href='mailto:mail@kdurrani.co.uk?subject=Hello%20from%20JS101%20:-)' target='_blank') Our organiser
