extends layout.pug
include mixins/logoList.pug
include mixins/sponsorList.pug
include mixins/randomQuote.pug

block content
  .home

    .section.row
      .jumbotron
        h1= title
        p(class="lead")= message
        p(class="lead") We meet every two weeks to code, learn and collaborate.
        p Are you new to JS101? 
        div.actions
          a(class='btn btn-primary btn-lg' href='/getting-started') Get Started

    .section.row.bg
      h1 Kick start your JavaScript with a friendly bunch of enthusiasts
  
      .row
        .col-lg-6
          h2 Meetup Archive
          a(class='btn btn-primary' href='https://github.com/CodeHubOrg/discussions/issues') View Details
       
        .col-lg-6
          h2 Next Meetup
          a(class='btn btn-primary' href='https://www.meetup.com/CodeHub-Bristol/') Sign Up

    .section.row
      .jumbotron
        h1 Join the Conversation

        p Our Gitter channel. You will need a GitHub account.
        a(class='btn btn-primary' href='https://gitter.im/CodeHubOrg/discussions/') Join the discussion


    
    .section.bg
      .row
        a(href='/what-we-do')
          h1 What do we do?
          .col-lg-3
           h2 Presentations
           a(href='/presentations')   
            p You present and we all learn
          .col-lg-3
            h2 Pair Programming
            a(href='/pair-programming') 
            p Two heads are better than one
          .col-lg-3
            h2 Code Reviews
            a(href='/code-reviews') 
            p Improve your code
          .col-lg-3
            h2 Bleeding Edge
            a(href='/tech-stack')
            p Use the latest technologies
      .row
        .col-lg-3
          h2 Guidance
          a(href='/roadmap')
          p What should I learn next?
        .col-lg-3
          h2 Best Practice
          a(href='/best-practices')
          p Software development methodologies
        .col-lg-3
          h2 Team Environment
          a(href='/collaborative-learning')
          p Sharing is caring
        .col-lg-3
          h2 Level Up
          a(href='/careers')
          p Get prepared for professional work
  
      
        
    .section.row
      h1 Technologies we use
        .row
            +logoList(techList)
    

    .section.row.bg-light
      h1 Our Sponsors
        +sponsorList(sponsorList)
      
    .section.row
      h1 Related Meetups
        .row
          +sponsorList(meetupList)
      
