extends layout.pug

block content

	#container-fluid

		// Video Tutorials
		.row

			.col-xs-12.col-sm-12.bg-success
				h1 Video Tutorials

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Video Tutorial
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Video Tutorial
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Video Tutorial
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Video Tutorial
						p.card-text Text
		// End Video Tutorials

		// Online Courses
		.row

			.col-xs-12.col-sm-12.bg-success
				h1 Online Courses

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Coursera JS101
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Udemy React & Redux
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Codecamp CSS & JS
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Codecamp JS101
						p.card-text Text
		// End Online Courses

		// Tutorials
		.row

			.col-xs-12.col-sm-12.bg-success
				h1 Tutorials

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title React essentials
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Dom manipulation
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Promises
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Codecamp JS101
						p.card-text Text
		// End Tutorials

		// Articles
		.row

			.col-xs-12.col-sm-12.bg-success
				h1 Articles

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' data-src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Setting up webpack
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' data-src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Getting started with React
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' data-src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title High order functions
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' data-src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Promises, promises, promises
						p.card-text Text
		// End Articles

		// Tools
		.row

			.col-xs-12.col-sm-12.bg-success
				h1 Tools

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title npm
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Webpack
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Browserify
						p.card-text Text

			.col-sm-3
				.card
					img(class='card-img-top img-fluid' src='img/placeholder/200x200.jpg' alt='')
					.card-block
						h4.card-title Jasmine
						p.card-text Text
		// End Tools
	// End .container-fluid

	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
	script(src='bootstrap/js/bootstrap.min.js')
	script(src='../js/burgerNav.js')


