extends layout.pug

block content

  .container
    h1 Resources
    p We are developing a React app to curate all the resources that we have found useful. In the meantime, here are just a handful of our favourites.

    .panel.panel-default
      .panel-heading 
        h2.panel-title If you just have 30mins
          .panel-body 
            p  Vanilla JavaScript challenges 
              a(href="https://javascript30.com/") JavaScript30


    .panel.panel-default
      .panel-heading 
        h2.panel-title Functional Programming
          .panel-body 
            p  Professor Franklin Risby's 
              a(href="https://www.gitbook.com/book/drboolean/mostly-adequate-guide/details ") Mostly adequate guide to functional programming 

    .panel.panel-default
      .panel-heading 
        h2.panel-title Promise, promise and more promises!
          .panel-body 
            p  Learn about promises with this EDX course 
              a(href="https://www.edx.org/course/asynchronous-programming-javascript-microsoft-dev234x-0#!") Asynchronous Programming with JavaScript

    .panel.panel-default
      .panel-heading 
        h2.panel-title If you want to read a book...
          .panel-body 
            p  
              a(href="https://github.com/getify/You-Dont-Know-JS") You Don't Know JS (book series)

    .panel.panel-default
      .panel-heading 
        h2.panel-title If you want to test your knowledge
          .panel-body 
            p 
              a(href="https://github.com/rmurphey/js-assessment") JS Assesment by Rebecca Murphey - A test-driven approach to assessing JS skills

    .panel.panel-default
          .panel-heading 
            h2.panel-title If you want to become a Front End Master
              .panel-body 
                p 
                  a(href="https://frontendmasters.gitbooks.io/front-end-handbook-2017/content/") Front End Developer Handbook 2017 

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='bootstrap/js/bootstrap.min.js')
  script(src='../js/burgerNav.js')



