extends layout.pug

block head_added
  include ../public/partials/head_roadmap.html

block content
  include ../public/partials/roadmap.html

block footer
  include ../public/partials/foot_roadmap.html
