/* Base styles
-------------------------------------------------- */
body{
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'callunaregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1{
  margin-top: initial;
  margin-bottom: 0.5em;
  font-weight: bold;
}


/* Main styles
-------------------------------------------------- */

.lead{
  margin-bottom: 2em;
}

.btn{
  background-color: #F7DF1E;
  border: 2px solid #222222;
  border-radius: 0;
  margin: 0.5em;
  color: #222222;
}
.btn:hover{
  background-color: #B8A616;
  border: 2px solid #222222;
  border-radius: 0;
  color: #222222;
}

.home {
  text-align: center;
}
.home p {

}
.home .actions a {

}
.main {
  /*padding: 0px 15px;*/
  margin-top: 50px;
}

.row {
  /*padding: 30px 0;*/
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top:0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.section{
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.chat img {
  width: 8rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.what-we-do a {
  color: #F7DF1E;
}

.poll {
  text-align: left;
}

.features > div{
  margin-bottom: 2rem;
}


.panel-primary{
  border-color: #155C84;
}

.panel-primary > .panel-heading{
  background-color: #155C84;
  border-color: #155C84;
}


.bg{
  background-color: #333333;
  color:#F7F7F7;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  /*width: 100vw;*/
}
.bg-light{
  background-color: #E8E8E8;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  /*width: 100vw;*/
}

.poll input[type="checkbox"] {
  margin-right: 10px;
}
.gallery img {
  width: 100%;
}
.wonderland a {
  margin: 0 10px;
}

h3 {
  margin-top: 0;
}
.home .actions p{

}
.jumbotron {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  margin-top:0;
  margin-bottom: 0;
}

.navbar-inverse{
  border-bottom: none;
}

.navbar-inverse .navbar-nav .active,
.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover {
  background-color: #f7df1e; /* the JaveScript yellow! */
  color: #444;
}

table {
  border: 1px solid #444;
}

td, th {
  padding: 8px;
  vertical-align: top;
  border: 1px solid #aaa;
}

th {
  background: #dedede
}

/* Logo styles
-------------------------------------------------- */
.logos ul {
  list-style: none;
  padding-top: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 3rem;
 /* max-width: 680px;
  margin: 60px auto;
  padding: 0px*/
}
.logos ul > li {
 /* display: inline-block;
  zoom:1;
  *display:inline;*/
}

.logos img{
  width: 100%;
  max-width: 115px;
  margin-bottom: 2em;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin: 60px 0;*/


}
.footer {
  /*position: absolute;*/
  bottom: 0;
  /*width: 100%;*/
  /* Set the fixed height of the footer here */
  height: 110px;
  padding: 3rem 0;
  background-color: #333333;
  margin-top: 4rem;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.footer a {
  color: white;
}

.github-corner {
  fill: #f7df1e;
  color: #151513;
  /*position: relative;*/
  /*margin-top: 100%;*/
  border: 0;
  right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
   transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

/* Sponsors logos styles
-------------------------------------------------- */
.sponsors ul{
  list-style: none;
}

.sponsors li{
  display: inline-block;
  margin: 1em;
}
@media(min-width: 40em){
  .sponsors li{
    margin-left: 3em;
    margin-right: 3em;
  }
}

.sponsors img{
  max-height: 70px;
  max-width: 160px;
  }

/* H1 Headings style
-------------------------------------------------- */
.container h1{ /* just targets md pages*/
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: black;
  color: #F7DF1E;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 0;
  margin-bottom: 7rem;
  background-image: url(/img/js-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media(min-width: 700px){
  .container h1{
    font-size: 8rem;
    padding-top: 15rem;
    padding-bottom: 10rem;
  }
}
