mixin sponsor(sponsor)
    li
      a(href=sponsor.url, class="block")
        img(src=sponsor.src, alt=sponsor.alt, class="img-responsive center-block")

mixin sponsorList(sponsorList)
  div.sponsors
    ul.row
      for sponsor in sponsorList
        +sponsor(sponsor)